.media {
    display: flex;
     flex-direction: column;
    width: 200px; 
    padding: 5px;
    margin: 5px 0;
    background-color: #061c49;
    border-radius: 10px;
    position: relative;
    font-family: Times, "Times New Roman", Georgia, serif;
}

.media:hover {
    background-color: white;
    color: black;
}

@media (max-width: 550px) {
    .media { 
        width: 46%;
        display: flex;
        flex-direction: column;
        width: 150px; 
    padding: 5px;
    margin: 5px 0;
    }
}

.poster {
  border-radius: 10px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 5px 0;
}

.sunTitle{
     display: flex;
     justify-content: space-between;
     padding: 0 2px;
     padding-bottom: 3px;
}

